html
 head 
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css')
  body(style='background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.unsplash.com/photo-1564227503787-ad186f508e6f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1301&q=80")')
    .min-h-screen.flex.items-center.justify-center.py-12.px-4(class='sm:px-6 lg:px-8')

      .max-w-md.w-full
        div
          h2.mt-6.text-center.text-3xl.leading-9.font-extrabold.text-white
            | Welcome to our Shop!
          h3.mt-6.text-center.text-xl.leading-9.font-extrabold.text-white.pb-10
            | Business Hours
          .flex.flex-col
            .-my-2.py-2.overflow-x-auto(class='sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8')
              div(class='sm:rounded-lg')
                table.min-w-full
                  tbody
                      each record in records
                       tr.mt-4.bg-gray-900.bg-opacity-50
                        td.px-6.py-4.whitespace-no-wrap.border-b.border-gray-200.text-xl.leading-5.font-medium.text-white
                         | #{record.get('Day')}
                        td.px-6.py-4.whitespace-no-wrap.border-b.border-gray-200.text-2xl.leading-5.font-medium.text-white.text-right
                         | #{record.get('Hours')}